ul{
    list-style: none;
}
.galary{
display: flex;
flex-wrap: nowrap;
gap:16px;
max-width: 300px;
overflow: auto;
}
.galary .image{
    flex: 1 0 300px;
}
.image{
width: 100%;
height: 100%;
object-fit: contain;
}